<!DOCTYPE html>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
<link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 class="page-header text-center">Car Information</h1>
    <div class="table info" style="padding: 25px; border: solid medium grey; font-size: 20pt">
        @RenderBody()
    </div>
    <p>Site created by Logan Fawcett 3/9/2017</p>
</body>
</html>
