@using DatabaseExample.Models;
@model IEnumerable<Student>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @foreach (var s in Model)
        {
            <h3>@s.Name</h3>
            @s.Email

        }
    </div>
</body>
</html>
Class1.cs