@using MovieLab.Models

@model IEnumerable<Movie>

@{
    ViewBag.Title = "MovieList";
}

<h2>MovieList</h2>
@foreach (var m in Model)
{
    <div>         
       <h3>@m.Name</h3>
       @m.Rating   @m.Genre          
    </div>
}

  