
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
    <title>Complete</title>
</head>
<body>
    <div class="panel panel-info text-center">
        <H3>Thank you for your post!</H3>

        <div>@Model.Make</div>
        <div>@Model.Model</div>
        <div>@Model.Year</div>
        <div>$@Model.Price</div>
        <div>@Model.Milage</div>
    </div>
</body>
</html>
