
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <p>The porpose of this application is to create a page to display a dynamic view showing the date.</p>
        @ViewBag.Date
        @Html.ActionLink("Click here to Log In", "LogIn")
    </div>
</body>
</html>
