
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" /
    <meta name="viewport" content="width=device-width" />
    <link href="~/Styles/Styles.css" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <div class="panel panel-info text-center">

        <h3>The porpose of this application is to create a page to display a dynamic view showing the date.</h3>
        <h4>@ViewBag.Date</h4>

        <div class="btn btn-info">
            @Html.ActionLink("Click here to Log In", "SignupForm")
        </div>
    </div>
</body>
</html>
