@model decimal
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tax</title>
</head>
<body>
    <div>
        Total tax amount is $@Model
    </div>
</body>
</html>